
@{
    ViewBag.Title = "PackagingChargeEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Entry/Entry.js"></script>
<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        if (sessionStorage.getItem("userId") !== null && sessionStorage.getItem("userId") !== "undefined") {
            $("#UserHidden").val(sessionStorage.getItem("userId"));
            var title = "@ViewBag.Title";
            $("#title").html(title.replace(/([A-Z])/g, ' $1').trim());
        }
        else {
            window.location.href = "/Account/Login";
        }
    });
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
</script>
<style>
    .col-form-label {
        font-weight: bold;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2 id="title"></h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Admin")">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Packaging Charge Entry <small>Input New Packaging Charge </small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <input id="UserHidden" type="hidden" value="" />
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label offset-3" for="WeightLbl">Packaging Name</label>
                            <div class="col-lg-4">
                                <input type="text" id="PackagingName" class="form-control" placeholder=" Ex: Poly Pack" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label offset-3" for="TypeLbl">Packaging Charge</label>
                            <div class="col-lg-4">
                                <input type="number" id="PackagingCharge" class="form-control" placeholder=" Ex: 20.0" />
                            </div>
                        </div>
                        <div class="form-group row" style="justify-content: center">
                            <div>
                                <button type="button" id="addPackagingChargeBtn" class="btn btn-success" onclick="addPackagingCharge()"><strong>Add Packaging Charge</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Packaging Charges List <small>Load All Packaging charge List</small></h5>
                <button class="btn btn-info offset-3" type="button" id="packagingChargeListLoadBtn" onclick="loadPackagingChargeList()">Load</button>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="padding:5px;">
                <div class="col-lg-8 offset-2" id="PackagingChargeListDetails" style="padding:0px;margin-bottom:30px;">
                </div>
            </div>
        </div>
    </div>
</div>
