
@{
    ViewBag.Title = "GetUpdateTimeSlotAutomatic";
}

<script src="https://code.angularjs.org/1.2.14/angular.js"></script>

<script type="text/javascript">
    var app = angular.module('updateTimeSlotModule', []);
    app.controller('updateTimeSlotController', function ($scope, $http) {

        $scope.getUpdateTimeSlotAutomatic = () => {

            $http.get(apiBaseURL + 'Report/GetUpdateTimeSlotAutomatic', { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {

                    //console.log(response.data.model);

                }, function error(response) {
                    console.log(response.data);
                });

        };

    });
</script>

<div class="row" ng-app="updateTimeSlotModule" style="display:flex;margin-top:10px;">
    <div class="col-lg-12" ng-controller="updateTimeSlotController" data-ng-init="getUpdateTimeSlotAutomatic()">

    </div>
</div>

